/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2015, 11:52:11 PM
    Author     : Douglas
*/


/*Menu*/
#menu-header {
    background-color: #008B8B;
}

li.dropdown:hover ul.dropdown-menu {
    display: block;
}

#menu-header > ul {
    width: 500px;
    margin: 0 auto;
}

.dropdown-menu {
    margin: 0;
}

.nav-pills>li>a {
    color: #EEE;
    font-size: 20px;
}

.nav-pills>li>a:hover {
    color: #008B8B;
    font-size: 20px;
}
/*Fim Menu*/

.alert {
    display: none;
    width: 250px;
    font-size: 9px;
    padding: 7px;
}

.aparecer {
    display: block;
}

span.aviso {
    font-size: 9px;
    color: #C0C0C0;
}

.formulario {
    width: 700px;
    margin: 40px auto;
}

.ipt-largo {
    width: 450px;
}

.ipt-curto {
    display: inline-block;
}

p.ipt-curto input, p.ipt-curto select {
    width: 210px;
}

.ipt-curto-1 {
    margin-right: 25px;
}

.ipt-id {
    width: 295px;
}

.ipt-id-filial {
    margin-left: 16px;
    width: 295px;
}

.ipt-select {
    height: 26px;
}

.alert-success {
    margin: 0 auto;
}

.ipt-id-func {
    width: 260px;
}