/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2015, 11:52:11 PM
    Author     : Douglas
*/


/*Menu*/
#menu-header {
    background-color: #262626;
}

li.dropdown:hover ul.dropdown-menu {
    display: block;
}

#menu-header > ul {
    width: 570px;
    margin: 0 auto;
}

.dropdown-menu {
    margin: 0;
}

.nav-pills>li>a {
    color: #EEE;
    font-size: 20px;
}

.nav-pills>li>a:hover {
    color: #808080;
    font-size: 20px;
}
/*Fim Menu*/

.alert {
    display: none;
    width: 250px;
    font-size: 9px;
    padding: 7px;
}

.aparecer {
    display: block;
}

.desaparecer {
    display: none;
}

span.aviso {
    font-size: 9px;
    color: #C0C0C0;
}

.formulario {
    width: 700px;
    margin: 40px auto;
}

form p {
    width: 300px;
    display: inline-block;
}

/*.ipt-largo {
    width: 450px;
}*/

/*.ipt-curto {
    display: inline-block;
}*/

/*p.ipt-curto input, p.ipt-curto select {
    width: 210px;
}*/

/*.ipt-curto-1 {
    margin-right: 25px;
}*/

/*.ipt-id {
    width: 295px;
}*/

.ipt-id-filial {
    margin-left: 16px;
    width: 295px;
}

/*.ipt-select {
    height: 26px;
}*/

.alert-success {
    margin: 0 auto;
}

.ipt-id-func {
    width: 260px;
}

.cpo-id {
    padding-right: 80px;
}

.consulta-excluir {
    display: none;
}

/*Tela de Login*/
#login-box {
    width: 600px;
    margin: 120px auto;
}

#form-login {
/*    margin: 0 auto;
    width: 400px;*/
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#form-login-campos {
    width: 365px;
    margin: 0 auto;
    height: 250px;
    padding-top: 78px;
}

#login-titulo {
    border: 3px solid black;
    height: 40px;
}

#form-login-botoes {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 55px;
    padding-top: 8px;
    padding-right: 31px;
    text-align: right;
}

#login-titulo p {
    margin: 8px 5px 0;
}



/*CAMPOS DOS FORMULÁRIOS*/

.campos-esq {
    margin-right: 75px;
}

.div-botoes {
    margin-top: 35px;
}

legend {
    margin-bottom: 35px;
}

.box-consulta {
    width: 90%;
    margin: 40px auto;
}

.box-tabelas {
    margin-top: 50px;
}

body {
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*CORES DAS FONTES*/

p, legend span, td {
    color: #d9d9d9;
}

#form-login-campos label {
    color: #d9d9d9;
}

thead {
    color: aliceblue;
}
